#bar {
  display: inline-flex;
  align-items: center;
  gap: 900px;
  height: 20vh
}

.about, .resources, .blog, .contact {
  border: 2px solid white;
  border-radius: 40%;
  font-size: 22pt;
  
}


@media screen and (min-width: 992px){
  img, #bar, #links {
    object-fit: cover;
  }
}


.socials-tiktok,.socials-yt, .socials-linkedin, .socials-insta {
  font-weight: bold;
}

a:link {
color: orange;
}


a:visited {
color: pink;
}


.home-words {
  position: absolute;
  align-items: center;
}


.img-name {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 44pt;
  font-style: normal;
  color: #ffffff;
  float: right;
  size: 44pt;
  
}
.img-summary {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  color: #ffffff;
  float: right;
  size: 16pt;
 
}


/* .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  } */
  