html {
  font-size: 22pt;
}

.bar {
  display: flex;
  justify-content: center;
  padding: 15px;
  font-family: "Outfit", sans-serif;
  font-weight: 200;

}

.about, .resources, .blog, .contact {
  font-size: 1rem;
  width: 100px;
  padding: 20px;
  text-decoration: none;
}

/* ----------------------------------- */
.home-words {
  z-index: 1;
  position: absolute;
  margin-left: 10%;
  margin-right: 10%;

  
}

.img-name {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 6rem;
  font-style: normal;
  color: #ffffff;
  border: black solid 10px;
  white-space: nowrap;
  margin-top: 0%;
  margin-right: 

}
.img-summary {
  font-family: "Outfit", sans-serif;
  font-weight: 200;
  font-size: 2rem;
  font-style: normal;
  color: #ffffff;
  border: black solid 10px;
  text-align: center;

}-----------------------------------

.main-view {
  display: grid;
  gap: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}


.top-image {
  height: 98vh;
  width: 98.5vw;
  position: relative;
  object-fit: cover;
  
}

.site-wrapper {
  display: flex;

}

@media screen and (min-width: 992px){
  .img-name {
    font-size: 6rem;
  }

  .img-summary{
    font-size: 2rem;
  }
}


/* @media screen and (min-width: 600px) {
  body {
    background-color: olive;
  }
} */

.socials-tiktok,.socials-yt, .socials-linkedin, .socials-insta {
  font-weight: bold;
}

a:link {
color: white;
}


a:visited {
color: white;
}




/* .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  } */
  